/* CSS for the page photographer.html */

/*********************/
/****** HEADER *******/
/*********************/

.photograph-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-grey);
    height: 300px;
    margin: 0 100px;

    border: solid 1px red;
}

#photograph-header-coll1 {
    border: solid 1px green;
}

#photograph-header-coll2 {
    display: flex;
    justify-content: center;
    border: solid 1px green;
}

#photograph-header-coll3 {
    border: solid 1px green;
}

.btn {
    font-weight: bold;
    color: white;
    padding: 11px;
    border: none;
    background-color: var(--color-main);
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #DB8876;
    color: black;
}

.contact_button {
    font-size: 1.25rem;
    width: 170px;
    height: 70px;
    border-radius: 5px;
}


/*********************/
/******* MODAL *******/
/*********************/

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.4);
}

.modal {
    position: relative;
    top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    border-radius: 5px;
    background-color: #DB8876;
    width: 64%;

}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 260%;
    font-weight: normal;
    text-align: left;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    border-width: 0;
}

legend {
    opacity: 0;
    font-size: 1%;
}

form label {
    color: #000;
    font-size: 160%;
}

form input {
    height: 40px; 
}

form textarea {
    resize: none;
    height: 100px;
}

form input, form textarea {
    border: none;
    width: 100%;
    padding: 0;
    border-radius: 5px;
}

form input:focus, form textarea:focus {
    outline: 4px var(--color-main) solid;
    border-radius: 5px;
}

form .contact_button {
    margin-top: 20px;
    font-size: 100%;
}

form .contact_button:hover {
    background-color: var(--color-main);
    color: white;
}
form .contact_button:focus {
    background-color: var(--color-main);
    color: white;
    outline: 4px #000 solid;
}


/*** In case of error ***/
.data-error {
    outline: 2px solid black;

}
.data-tag {
    font-size: 90%;
    color: black;
    margin: 10px 0 16px 0;
    animation : message-appears 0.3s ease;
}
.data-tag::before {
    content: url(../assets/icons/circle-exclamation-solid.svg);
}
p.data-tag::before {
    margin-right: 5px;
}


/**********************/
/* FILTERS & PICTURES */
/**********************/

.pictures {
    margin: 20px 100px 0px 100px;
}

.menu-dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#title3 {
    font-size: 1.13rem;
    margin-right: 25px;
}

.dropbtn {
    border-radius: 5px 5px 0 0;
}

button#dropdown-menu1.btn.dropbtn {
    font-family: "DM Sans", sans-serif;
    font-size: 1.13rem;
}

.dropbtn-content { /*ul list*/
    list-style-type: none;
    margin: 0;
    font-size: 1.13rem;
    padding: 0;
    font-weight: bold;
    color: white;
    background-color: var(--color-main);
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.drop-divider {
    border-bottom: 1px white solid;
    margin: 0 11px;
}

.dropbtn-content li {
    list-style-type: none;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dropbtn-content li a {
    text-decoration: none;
    color: white;
    margin: 0 11px; 
}

.dropbtn-content li:hover a {
    color: black;
}

#dropdown-menu2 {
    padding: 11px 0px 11px 0px;
}

#dropdown-menu2:hover {
    padding: 11px 0px 11px 0px;
    background-color: #DB8876;
    cursor: pointer;
}

#dropdown-menu3 {
    padding: 11px 0px 11px 0px;
}

#dropdown-menu3:hover {
    padding: 11px 0px 11px 0px;
    border-radius: 0 0 5px 5px;
    background-color: #DB8876;
    cursor: pointer;
}


/*********************/
/***** ANIMATIONS ****/
/*********************/
@keyframes message-appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}