/* CSS for the page photographer.html */

/*********************/
/****** HEADER *******/
/*********************/

.photograph-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey);
    height: 300px;
    margin: 0 100px;
}

.photograph-header-coll {
 /* peut-être pas utile ?*/
}

.btn {
    font-weight: bold;
    color: white;
    padding: 11px;
    border: none;
    background-color: var(--color-main);
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #DB8876;
    color: black;
}

.contact_button {
    font-size: 1.25rem;
    width: 170px;
    height: 70px;
    border-radius: 5px;
}


/*********************/
/******* MODAL *******/
/*********************/

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 2vh;
    width: 100%;
}



.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    border-radius: 5px;
    background-color: #DB8876;
    width: 64%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 4rem;
    font-weight: normal;
    text-align: left;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    border-width: 0;
}

legend {
    opacity: 0;
}

form label {
    color: #000;
    font-size: 2rem;
}

form input {
    width: 100%;
    padding: 0;
    height: 58px;
    border: none;
    border-radius: 5px;
}

form textarea {
    resize: none;
    border: none;
    height: 150px;
    border-radius: 5px;
}

form input:focus, form textarea:focus {
    outline: 4px var(--color-main) solid;
    border-radius: 5px;
}

form .contact_button {
    margin-top: 20px;
    font-size: 1.25rem;
}

form .contact_button:hover {
    background-color: var(--color-main);
    color: white;
}
form .contact_button:focus {
    background-color: var(--color-main);
    color: white;
    outline: 4px #000 solid;
}


/**********************/
/* FILTERS & PICTURES */
/**********************/

.pictures {
    margin: 0px 100px 0px 100px;
}

.pictures h3 {
    font-size: 1.13rem;
    margin-right: 25px;
}

.pictures .dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
    border: 1px red solid;
}

.pictures ul {
    font-size: 1.12rem;
    list-style-type: none;
    padding: 0;

    border-radius: 5px;
    /*
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2.5);
    animation: shadowOpacity 0.3s ease;
    */
}

#filter-popularity, #filter-date {
    border-bottom: 1px white solid;
}

/**** TEST1 ****/
.dropdown {
    display: flex;
    flex-direction: column;
}

/* Style de base pour le bouton fermé */
.dropbtn {
    background-color: #901C1C;
    color: white;
    padding: 10px;
    border: 5px solid #901C1C; /* Ajout d'un border */
    cursor: pointer;
  }
  
  /* Style des boutons Date et Titre lorsqu'ils sont déroulés */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #D3573C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Afficher les boutons Date et Titre lors du survol ou du focus */
  .dropdown:hover .dropdown-content,
  .dropdown:focus .dropdown-content {
    display: block;
  }
  
  /* Style des éléments de la liste */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Changer la couleur du texte lorsque survolé ou focus sur les boutons Date et Titre */
  .dropdown-content a:hover,
  .dropdown-content a:focus {
    background-color: #f9f9f9;
    color: black;
  }
  
  /* Afficher les boutons l'un en dessous de l'autre */
  .dropdown-content a {
    display: block;
  }
  