@import url("../pages/index.css");
@import url("../pages/photographer.css");

/*********************/
/***** VARIABLES *****/
/*********************/
:root { 
    /* Color */
    --color-main: #901C1C;
    --color-second: #D3573C;
    --color-grey: #FAFAFA;
    --color-dark-grey: #525252;
    
    /* Font */
    --main-font: "DM Sans", sans-serif;
    --normal-weight: 400;
}


/*********************/
/****** GLOBAL *******/
/*********************/
body {
    font-family: var(--main-font);
    max-width: 1240px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-bottom: 0;
    
}

.logo {
    height: 50px;
}

dialog {
    border: none;
}