/* CSS for displaying media and the lightbox */

/*********************/
/***** LIGHTBOX ******/
/*********************/

#lightbox {
    position: fixed;
    animation: lightboxIn 0.6s;
    transition: opacity .3s;
    border-radius: 5px;
    padding: 0;
    background-color: rgba(250, 250, 250, 0);
}

#lightbox::backdrop {
    background-color: rgba(250, 250, 250, 0.9);
}

#lightbox button {
    position: fixed;
    border: 0;
    opacity: 0.8;
    text-indent: 3000px;
}

#lightbox .focusable {
    cursor: pointer;
}

.lightbox__next,
.lightbox__prev {
    background: url(../../assets/icons/arrow-next.svg) center center / 100% 100% no-repeat;
    width: 48px;
    height: 80%; /* To make it easier to click */
    z-index: 4;
    top: 0;
    right: 2%;
    margin-top: 8%;
}

.lightbox__prev {
    right: auto;
    left: 2%;
    transform: rotate(180deg);
}

.lightbox__close {
    background: url(../../assets/icons/close-red.svg) center center / 100% 100% no-repeat;
    width: 42px;
    height: 42px;
    z-index: 6;
    top: 2%;
    right: 2%;
}

#lightbox button:hover,
#lightbox button:focus {
    opacity: 1;
}

#lightbox button:focus {
    outline: 4px var(--color-second) solid;
    border-radius: 3px;
}

#lightbox img, #lightbox video {
    display: block;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: cover;
    object-position: center center; 
    border-radius: 5px;
    animation: lightboxIn 0.5s;
}

#lightbox p {
    font-weight: var(--normal-weight);
    font-size: 1.5rem;
    color: var(--color-main);
    margin: 10px 0 0 0;
}


/*********************/
/*** GALLERY MEDIA ***/
/*********************/

.media-section__media-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2%;
    column-gap: 10%;
    margin-top: 40px;
    height: auto;
}

.media-section__media-card article button {
    cursor: pointer;    
    border: none;
    padding: 0;
    width: 100%;
}

article button:focus > img,
article button:focus > video,
article button:focus-visible > img,
article button:focus-visible > video {
    outline: 4px var(--color-second) solid;
    border-radius: 3px;
    border: none;
}

article button:hover > img,
article button:hover > video {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
}

.media-section__media-card img,
.media-section__media-card video {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    display: block;
    object-fit: cover;
}


/*********************/
/*** HEART CHECKBOX **/
/*********************/

.info-media, .info-media p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.info-media {
    justify-content: space-between;
    color: var(--color-main);
}

.info-media p {
    font-size: 1.5rem;
}

.info-media h4 {
    font-size: 1.4rem;
}

.info-media h4,
.info-media p {
    font-weight: var(--normal-weight);
    margin: 10px 0 5px 0;
}

.info-media .fa-heart {
    margin-left: 5px;
    cursor: pointer;
}

.info-media .fa-heart:focus {
    outline: 4px var(--color-second) solid;
    border-radius: 3px;
}


/*********************/
/***** ANIMATIONS ****/
/*********************/
@keyframes lightboxIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}