/* CSS for the modal */

#contact_modal {
    position: relative;
    padding: 35px;
    margin: auto;
    border-radius: 5px;
    background-color: var(--color-second);
    width: 60%;
}

#contact_modal::backdrop {
    background-color: rgba(196, 196, 196, 0.4);
}

#contact_modal header {
    justify-content: space-between;
    width: 100%;
}

#close-modal-btn {
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 3%;
}

#contact_modal header h2 {
    font-size: 260%;
    font-weight: normal;
    text-align: left;
}

form {
    align-items: flex-start;
}

fieldset {
    padding: 0;
    margin: 0;
    border-width: 0;
}

form, fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
}

legend {
    opacity: 0;
    font-size: 1%;
}

form label {
    color: #000;
    font-size: 160%;
}

form input {
    height: 40px; 
}

form textarea {
    resize: none;
    height: 100px;
}

form input, form textarea {
    border: none;
    width: 100%;
    padding: 0;
    border-radius: 5px;
}

form .contact_button {
    margin-top: 20px;
    font-size: 100%;
}

form .contact_button:hover {
    background-color: var(--color-main);
    color: white;
}

/*** Focus CSS   ***/
form input:focus, form textarea:focus, #close-modal-btn:focus {
    outline: 4px var(--color-main) solid;
    border-radius: 5px;
}

form .contact_button:focus {
    background-color: var(--color-main);
    color: white;
    outline: 4px #000 solid;
}


/*** In case of error ***/
.data-error {
    outline: 2px solid black;
    
}
.data-tag {
    font-size: 90%;
    color: black;
    margin: 10px 0 16px 0;
    animation : message-appears 0.3s ease;
}
.data-tag::before {
    content: url("../../assets/icons/circle-exclamation-solid.svg")
    
}
p.data-tag::before {
    margin-right: 5px;
}

/*** Thanks note ***/
.thanks-note {
    background-color: var(--color-second);
    color: #000;
    border-radius: 5px;
}

.thanks-note p {
    text-wrap: balance;
}

.thanks-note::backdrop {
    background-color: rgba(196, 196, 196, 0.4);
}