/* CSS for the page photographer.html */

@import url("../components/gallery.css");
@import url("../components/modal.css");

/*********************/
/****** HEADER *******/
/*********************/

.photograph-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    background-color: var(--color-grey);
    height: 300px;
    margin: 20px 0;
}

#photograph-header-col1 {
    justify-content: flex-start;
    padding-left: 10%;
}

#photograph-header-col2 {
    justify-content: center;
}

#photograph-header-col3 {
    justify-content: flex-end;
    padding-right: 10%;
}

#photograph-header-col1,
#photograph-header-col2,
#photograph-header-col3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#photograph-header-col1 h1 {
    font-size: 3.4rem;
    color: var(--color-second);
    line-height: 5rem;
}

#photograph-header-col1 h2 {
    font-size: 1.4rem;
    color: var(--color-main);
    line-height: 1.95rem;
}

#photograph-header-col1 h3 {
    font-size: 1.2rem;
    color: var(--color-dark-grey);
    line-height: 1.4rem; 
}

#photograph-header-col1 h1,
#photograph-header-col1 h2,
#photograph-header-col1 h3 {
    font-weight: var(--normal-weight);
    margin: 10px 0;
}

#photograph-header-col3 img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.btn {
    font-weight: bold;
    color: white;
    padding: 11px;
    border: none;
    background-color: var(--color-main);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--color-second);
    color: black;
    outline: 3px black solid;
}

.contact_button {
    font-size: 1.25rem;
    width: 170px;
    height: 70px;
    border-radius: 5px;
}


/**********************/
/****** FILTERS *******/
/**********************/

.media-section {
    margin: 20px 0 0 0;
}

.menu-dropdown > p {
    font-size: 1.13rem;
    font-weight: 700;
    margin-right: 25px;
}

.menu-dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
}

#filter-navigation {
    position: relative;
    height: 100%;
}

.dropdown {
    z-index: 8;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
}

#filter-list {
    display: none;
    max-height: 0;
    padding: 0;
    margin: 0;
}

#filter-list li button {
    font-family: var(--main-font);
    font-size: 1.13rem;
    font-weight: 700;
    color:white ;
    background-color: var(--color-main);
    border: none;
    position: relative;
    cursor: pointer;
}

.btn_drop, #filter-list button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
}

.btn_drop {
    font-family: var(--main-font);
    font-size: 1.13rem;
    font-weight: 700;
}

.btn_drop .fa-solid,
#btnDate .fa-solid {
    margin-left: 10px;
}

#filter-list button:hover, #filter-list button:focus {
    background-color: var(--color-second);
    color: black;
}

.line {
    display: block;
    position: absolute;
    top: 49px;
    width: 86%;
    height: 1px;
    background-color: white;
}

/*********************/
/*** PRICE INSERT ****/
/*********************/

#photographer-price {
    position: fixed;
    bottom: 0;
    right: 10%;
    width: auto;
    z-index: 2;
    
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
    justify-content: space-around;
    align-items: center;
    
    padding: 20px 25px 15px 25px;
    border-radius: 5px 5px 0 0;
    background-color: #DB8876;
}

#photographer-price p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
}

#photographer-price p .fa-heart {
    margin-left: 5px;
}


/*********************/
/***** ANIMATIONS ****/
/*********************/
@keyframes message-appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}