/* CSS for the page photographer.html */

@import url("../components/gallery.css");
@import url("../components/modal.css");

/*********************/
/****** HEADER *******/
/*********************/

.photograph-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    background-color: var(--color-grey);
    height: 300px;
    margin: 20px 0;
}

#photograph-header-col1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
}

#photograph-header-col1 h2 {
    font-size: 3.6rem;
    font-weight: 400;
    color: var(--color-second);
    line-height: 5rem;
    margin: 10px 0
}

#photograph-header-col1 h3 {
    font-weight: 400;
    color: var(--color-main);
    font-size: 1.5rem;
    line-height: 1.95rem;
    margin: 10px 0
}

#photograph-header-col1 h4 {
    font-weight: 400;
    color: var(--color-dark-grey);
    font-size: 1.25rem;
    line-height: 1.4rem;
    margin: 10px 0;
}

#photograph-header-col2 {
    display: flex;
    justify-content: center;
}

#photograph-header-col3 {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}

#photograph-header-col3 img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.btn {
    font-weight: bold;
    color: white;
    padding: 11px;
    border: none;
    background-color: var(--color-main);
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #DB8876;
    color: black;
}

.contact_button {
    font-size: 1.25rem;
    width: 170px;
    height: 70px;
    border-radius: 5px;
}


/**********************/
/* FILTERS & PICTURES */
/**********************/

.media-section {
    margin: 20px 0 0 0;
}

#title3 {
    font-size: 1.13rem;
    margin-right: 25px;
}

.menu-dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
}

.filter_section{
    position: relative;
    height: 100%;
}

.dropdown {
    z-index: 8;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
}

.rotate{
    transform: rotate(180deg);
}

.dropdown_content { /*ul*/
    max-height: 0;
    background-color: var(--color-main);
    transition: max-height .1s ease-in-out;
    padding: 0;
    margin: 0;

}

.dropdown_content li {
    position: relative;
    width: 150px;
}

.dropdown_content li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background-color: white;
}

.btn_drop,
.dropdown_content li button {
    font-family: "DM Sans", sans-serif;
    color:white ;
    font-weight: 700;
    background-color: var(--color-main);
    height: 50px;
    padding: 15px;
    font-size: 1.13rem; 
    cursor: pointer;
    border: none;
}

.btn_drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    background-color: var(--color-main);
}

.dropdown_content li button {
    width: 100%;
    text-align: left;
}

.dropdown_content li button:hover,
.dropdown_content li button:focus,
.btn_drop:hover,
.btn_drop:focus{
    background-color: var(--color-second);
    color: black;
}

.curtain_effect {
    max-height: 200px;
}


/*********************/
/*** PRICE INSERT ****/
/*********************/

#photographer-price {
    position: fixed;
    bottom: 0;
    right: 10%;
    width: auto;
    z-index: 2;

    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
    justify-content: space-around;
    align-items: center;
      
    padding: 20px 25px 15px 25px;
    border-radius: 5px 5px 0 0;
    background-color: #DB8876;
}

#photographer-price p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
}


/*********************/
/***** ANIMATIONS ****/
/*********************/
@keyframes message-appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}